# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# IDE settings
.vscode/
.idea/

# Ignore all data_saved directories
/data_collection

# Generated feature tables
emg_features.csv
features_*.csv

# Generated experiment results and models
/experiment_results_trial5s


/zqr

# Temporary files
tempCodeRunnerFile.py
*.tmp
*.log

# OS files
.DS_Store
Thumbs.db